/*Font Imports*/

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*General Rules*/

* {
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}


/*body & main container*/

body {
    background-color: #24252b;
    display: flex;
    overflow-y: hidden;
    height: max-content;
}


/* Nav Bar */

.navbar {
    height: 95vh;
    width: 5rem;
    margin: 2.5vh 1rem 2.5vh 1rem;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.navbar img {
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
}

nav ul {
    text-align: center;
    margin-top: 3rem;
}

nav ul li {
    height: 3rem;
    width: 3rem;
    position: relative;
    margin-top: 2rem;
    background-color: none;
    border-radius: 10px;
    transition: all 0.25s ease;
}

nav ul li i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #000;
}

nav ul li:hover {
    background-color: #5D9D0B;
}

nav ul li:hover i {
    color: #fff;
}

nav ul li:hover .tooltip {
    visibility: visible;
}


/*Main Page*/

.main {
    width: 100%;
    overflow-y: visible;
}

.main .pageHead {
    margin: 7vh 0 0 2rem;
    font-family: 'Sora', sans-serif;
    font-size: 36px;
    letter-spacing: 0;
    font-weight: 500;
    color: #fff;
}

.main .mainContent {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    margin-top: 2.5vh;
}

.mainContent .card {
    height: 34rem;
    width: 100%;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    font-family: 'Poppins', sans-serif;
    background-color: #2e3239;
}


/* Blogs */

.articles {
    width: 100%;
    padding: 15px 40px 15px 40px;
}

.articles .article-heading {
    text-align: center;
    width: 100%;
    position: relative;
}

.article-heading h5 {
    font-size: 50px;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    color: rgba(223, 223, 223, 0.308);
}

.cards {
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin-top: 15px;
    padding-top: 15px;
    gap: 2rem;
}

.cards .card-container {
    /* cursor: pointer; */
    transition: all 0.8s ease;
    border-radius: 15px;
}

.cards .card-container .img-holder {
    max-width: 100%;
    height: 10rem;
    background: url(../img/blog1.jpg) no-repeat center center / cover;
    position: relative;
}

.cards .card-container.two .img-holder {
    max-width: 100%;
    height: 10rem;
    background: url(../img/blog2.jpg) no-repeat center center / cover;
    position: relative;
}

.cards .card-container.three .img-holder {
    max-width: 100%;
    height: 10rem;
    background: url(../img/blog3.jpg) no-repeat center center / cover;
    position: relative;
}

.cards .card-container.four .img-holder {
    max-width: 100%;
    height: 10rem;
    background: url(../img/blog3.jpg) no-repeat center center / cover;
    position: relative;
}

.cards .card-container a {
    margin-top: 10px;
    color: blue;
    display: inline-block;
}

.cards .card-container:hover {
    transform: translateY(-0.9rem);
}

.cards .card-container .card-text {
    background-color: white;
    padding: 10px 15px 10px 15px;
    box-shadow: 0 0 0 0.1rem gray;
}

.cards .card-container .card-text h4{
    font-size: 1.3rem;
    font-weight: 900;
    text-transform: uppercase;
}

.cards .card-container .card-text h6{
    font-size: 11px;
    color: red;
}

.cards .card-container .card-text p{
    font-size: 15px;
    padding-top: 5px;
    text-align: justify;
}
