/*General Settings For Games Page*/

.cardContainer {
  width: 95%;
  padding: 0 2rem;
}

.cardContainerGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  padding-block: 2rem;
}

.gameCard {
  height: 8rem;
  width: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  font-family: "Poppins", sans-serif;
  background-color: #5d9d0b;
}

.sectionHeader {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  margin: 1rem 0 0 0rem;
}

/*favourite games*/

.cardContent {
  height: 100%;
  width: 100%;
  position: relative;
}

.cardContent .cardTitle {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 69%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: right;
}

/*All games*/

.allGames {
  padding-bottom: 4rem;
}

/*Timer styling*/

.timerContainer {
  height: max-content;
  width: 95%;
  margin:2rem;

  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  font-family: "Poppins", sans-serif;
  background-color: #2e3239;

  /* centering timer*/
  display: flex;
  align-content: center;
  justify-content: center;
}

.timer {
  padding: 1rem;
  margin: 1rem;
}

.timerText {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  margin: 0.5rem;
  text-align: center;
}

.defaultBtn {
  width: 100%;
  height: calc(max-content + 1rem);
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #5d9d0b;
  margin: 0.1rem 0.25rem;
  text-align: center;
  border-radius: 25px;
  border: 1px solid #5d9d0b;
  background-color: #2e3239;
  transition: all 250ms ease-in-out;
}

.defaultBtn:hover {
  color: #fff;
  background-color: #5d9d0b;
}

/*modal*/

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: max-content;
    width: 50%;
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background-color: #2e3239;

    border: none;

}