/*Font Imports*/

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*General Rules*/

* {
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}


/*body & main container*/

body {
    background-color: #24252b;
    display: flex;
    overflow-y: hidden;
    height: max-content;
}


/* Nav Bar */

.navbar {

    height: 95vh;
    width: 5rem;
    margin: 2.5vh 1rem 2.5vh 1rem;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.navbar img {
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
}

nav ul {
    text-align: center;
    margin-top: 3rem;
}

nav ul li {
    height: 3rem;
    width: 3rem;
    position: relative;
    margin-top: 2rem;
    background-color: none;
    border-radius: 10px;
    transition: all 0.25s ease;
}

nav ul li i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #000;
}

nav ul li:hover {
    background-color: #5D9D0B;
}

nav ul li:hover i {
    color: #fff;
}

nav ul li:hover .tooltip {
    visibility: visible;
}


/*Main Page*/

.main {
    width: 100%;
    height: max-content;
    overflow-y: visible;
}

.main .pageHead {
    margin: 7vh 0 0 2rem;
    font-family: 'Sora', sans-serif;
    font-size: 36px;
    letter-spacing: 0;
    font-weight: 500;
    color: #fff;
}

.main .mainContent {
    display: flex;
    height: 580px;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

.mainContent .card {
    width: 100%;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    font-family: 'Poppins', sans-serif;
    background-color: #2e3239;
}


/*General Settings For Games Page*/

.games {
    width: 100%;
    height: 530px;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem;
}

.gameCard {
  height: 13rem;
  width: auto;
  border-radius: 10px;
  transition: all 0.9s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  font-family: "Poppins", sans-serif;
}

.cardContent {
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/blog2.jpg) no-repeat center center / cover;
}

.cardContent.one {
  background: url(../img/valorant.jpg) no-repeat center center / cover;
}

.cardContent.two {
  background: url(../img/apex.jpg) no-repeat center center / cover;
}

.cardContent.three {
  background: url(../img/genshin.jpg) no-repeat center center / cover;
}

.cardContent.four {
  background: url(../img/elden.jpg) no-repeat center center / cover;
}

.cardContent.five {
  background: url(../img/fortnite.jpg) no-repeat center center / cover;
}

.cardContent.six {
  background: url(../img/league.jpg) no-repeat center center / cover;
}

.gameCard:hover {
  transform: translateY(-0.9rem);
}

.cardContent .cardTitle {
  padding-top: 85px;
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: 1000;
  letter-spacing: 0.2rem;
}



/*Timer styling*/

.timerContainer {
  height: max-content;
  width: 95%;
  margin:2rem;

  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  font-family: "Poppins", sans-serif;
  background-color: #2e3239;
  /* centering timer*/
  display: flex;
  align-content: center;
  justify-content: center;
}

.timer {
  padding: 1rem;
  margin: 1rem;
}

.timerText {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  margin: 0.5rem;
  text-align: center;
}

.defaultBtn {
  width: 100%;
  height: calc(max-content + 1rem);
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #5d9d0b;
  margin: 0.1rem 0.25rem;
  text-align: center;
  border-radius: 25px;
  border: 1px solid #5d9d0b;
  background-color: #2e3239;
  transition: all 250ms ease-in-out;
}

#stopButton {
  color:#ff3333;
  border: 1px solid #ff3333;
  display: none;
}

#stopButton:hover{
  color: #fff;
  background-color: #ff3333;
}

.defaultBtn:hover {
  color: #fff;
  background-color: #5d9d0b;
}

/*modal*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: max-content;
  width: 50%;
  margin: 2rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  background-color: #2e3239;

  border: none;
}
.result {
  text-align: center;
  transition: all 0.5s ease;
  text-transform: capitalize;
  font-family: "Open Sans ", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
}

#resultGood {
  color: #5d9d0b;
  display: none;
}

#resultBad {
  color: #ff3333;
  display: none;
}
