.main .mainContent{
    height: 125%;
}

.mainContent .overview {
    display: flex;
    align-content: center;
    justify-content: center;
    height: max-content;
}

.mainContent .overview ul {
    height: min-content;
}

.mainContent .overview ul li {
    display: inline-block;
    margin: 1rem 4rem;
}

.mainContent .overview .contentBlock {
    text-align: center;
}

.mainContent .overview .blockHead {
    font-size: 32px;
    font-weight: 700;
    color: #5D9D0B;
}

.mainContent .overview .blockDet {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

.graph {
    display: grid;
    grid-gap: 20px;
    width: 50%;
    background-color: rgb(41, 41, 41);
    padding: 2rem;
}

.graph .lineChartCont {
    height: 500px;
}

.gamesChart {
    width: 30%;
}

.exercises {
    display: absolute;
    grid-gap: 10px;
    width: 30%;
    background-color: #5D9D0B;
    
}