.mainContent .overview {
    display: flex;
    align-content: center;
    justify-content: center;
    height: max-content;
}

.mainContent .overview ul {
    height: min-content;
}

.mainContent .overview ul li {
    display: inline-block;
    margin: 1rem 4rem;
}

.mainContent .overview .contentBlock {
    text-align: center;
}

.mainContent .overview .blockHead {
    font-size: 32px;
    font-weight: 700;
    color: #5D9D0B;
}

.mainContent .overview .blockDet {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}