/*Font Imports*/

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/*General Rules*/

* {
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

/*body & main container*/

body {
  background-color: #24252b;
  display: flex;
  overflow-y: hidden;
  height: max-content;
}

/* Nav Bar */

.navbar {
  height: 95vh;
  width: 5rem;
  margin: 2.5vh 1rem 2.5vh 1rem;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.navbar img {
  width: 3rem;
  height: 3rem;
  margin-top: 1rem;
}

nav ul {
  text-align: center;
  margin-top: 3rem;
}

nav ul li {
  height: 3rem;
  width: 3rem;
  position: relative;
  margin-top: 2rem;
  background-color: none;
  border-radius: 10px;
  transition: all 0.25s ease;
}

nav ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #000;
}

nav ul li:hover {
  background-color: #5d9d0b;
}

nav ul li:hover i {
  color: #fff;
}

nav ul li:hover .tooltip {
  visibility: visible;
}

/*Main Page*/

.main {
  width: 100%;
  height: max-content;
  overflow-y: visible;
}

.main .pageHead {
  margin: 7vh 0 0 2rem;
  font-family: "Sora", sans-serif;
  font-size: 36px;
  letter-spacing: 0;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
}

/*General Settings For settings Page*/

/* css of settings nav bar */
.settingsNavbar {
  justify-content: center;
  margin: 10px;
}

.navList {
  display: flex;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  width: 500px;
  height: 4rem;
}

.navItem {
  align-self: auto;
  margin: auto;
  padding: 0%;
  cursor: pointer;
}

.errorMessageShow {
  color:#fff;
  background-color: #ff3333;
  text-align: center;
  display: none;
  transition: all 0.5s ease;
  text-transform: capitalize;
  font-family: 'Open Sans ', sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  border: none;
  padding: 1rem;
}

#avatarDiv {
  vertical-align: middle;
  width: 60%;
  height: 60%;
  background-color: white;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 1rem 1em;
}

.right .avatar {
  vertical-align: middle;
  width: 60%;
  height: 60%;
  padding-left: 90px;
}

#myfile {
  width: 50%;
}

h2 {
  font-family: "Poppins";
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.editBtn {
  height: 65px;
  margin: 0 1rem;
}

.btn {
  background-color: #5d9d0b;
  color: white;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  float: right;
}

.btn:hover {
  background-color: #5d9d0b;
  color: white;
  border-radius: 10px;
  border: solid white;
}

.inputContainer {
  font-family: "Poppins";
  border-radius: 10px;
  background-color: #fff;
  border: solid #5d9d0b;
  margin: 1rem;
  color: black;
  font-size: 20px;
  padding: 1rem;
  display: flex;
}

.backPain,
.kayboard,
.distance {
  border-radius: 10px;
  background-color: #fff;
  border: solid #5d9d0b;
  margin: 1rem;
  padding: 1rem 0 1rem 1rem;
  font-size: 20px;
  display: flex;
}

.settingsContent {
  width: 95%;
  height: max-content;
  margin: 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  font-family: "Poppins", sans-serif;
  background-color: #2e3239;
}

.content {
  width: 450px;
  height: max-content;
}

.editGameInfo .editBtn {
  width: 700px;
}

.basicLayout {
  display: flex;
  width: 900px;
  margin: 0 250px;
}

.column.left {
  width: 50%;
  flex-direction: column;
  height: fit-content;
  display: flex;
}

.column.right {
  width: 50%;
  flex-direction: column;
  height: fit-content;
}

.basicInfo {
  font-family: "Poppins";
  font-weight: 500;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 1rem 1em;
  margin: 1rem;
  margin-top: 1rem;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.emailInfo {
  font-family: "Poppins";
  font-weight: 500;
  background-color: #2e3239;
  border-radius: 10px;
  padding: 0.5rem 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.editGameInfo {
  font-family: Poppins;
  font-weight: 500;
  margin: 1rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: white;
  height: max-content;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px,
    rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}

.deleteAcc {
  font-family: "Poppins";
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  width: 60%;
  height: 125px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* fade animation start css */
#settingspage {
  animation: fadeInAnimation ease 3s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* fade animation end css */

#displayNameLabel {
  width: 35%;
}

#genderLabel {
  padding-right: 10px;
}

.inputField {
  font-family: "Poppins";
  padding: 10px;
  height: 1.8rem;
  width: 100%;
  font-size: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.inputGenderField {
  font-family: "Poppins";
  width: 100%;
  font-size: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

#dltBtns {
  display: flex;
}

#deleteAccount {
  background-color: #d0342c;
}

#onDeleteYes {
  background-color: #d0342c;
}

#basicEmailInfo {
  font-family: "Poppins";
  font-weight: 500;
  margin: 1rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: white;
  margin-top: 1rem;
  height: 400px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px,
    rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}

.displayEmail {
  width: 100%;
  display: flex;
}

#emailLabel {
  width: 73px;
  padding-right: 10px;
}

#passwordLabel {
  width: 117px;
  padding-right: 10px;
}

#backPainSelect,
#kayboardSelect,
#distanceSelect {
  font-family: "Poppins";
  font-size: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  height: 35px;
}

#backPainSaveBtn,
#backPainEditBtn,
#kayboardSaveBtn,
#kayboardEditBtn,
#distanceSaveBtn,
#distanceEditBtn {
  height: 50px;
}

.upload {
  width: 140px;
  position: relative;
  margin: auto;
}

.upload img {
  border-radius: 50%;
  border: 6px solid #eaeaea;
}

.upload .round {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  width: 35px;
  height: 35px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
