*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.about{
   width: 100%; 
   padding: 78px 0px;
   background-color: #191919;
}
.about img{
    height: auto;
    width: 420px;
}
.about-text{
   width: 550px; 
}

.main{
    width: 1130px; ;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: aliceblue;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: rgb(34, 190, 42);
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text p{
    color: rgba(255, 255, 255, 0.986);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}